* {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-color: aliceblue;
    color: blue;
    text-align: center;
    padding: 5%;
}

p.description {
    background-color: blanchedalmond;
    color: lightslategray;
    font-style: italic;
}

ol,
ul {
    background-color: aliceblue;
}

.homepage {
    border: 2px solid blue
}

ul.homepage {
    padding: 8px 24px;
    height: 300px;
}