* {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    background-color: aliceblue;
    color: blue;
    text-align: center;
}

p.description {
    background-color: blanchedalmond;
    color: lightslategray;
    font-style: italic;
}

ol,
ul {
    background-color: lightcyan;
}